@model TARpe21ShopRisto.Models.Email.EmailViewModel

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label asp-for="To" class="col-sm-2 colcol-form-label"></label>
            <div class="col-sn=10">
                <input asp-for="To" class="form-control"/>
            </div>
        </div>
    </form>
</div>

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label asp-for="Subject" class="col-sm-2 colcol-form-label"></label>
            <div class="col-sn=10">
                <input asp-for="Subject" class="form-control" />
            </div>
        </div>
    </form>
</div>

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label asp-for="Body" class="col-sm-2 colcol-form-label"></label>
            <div class="col-sn=10">
                <input asp-for="Body" class="form-control" />
            </div>
        </div>
   

          <input asp-action="sendEmail" asp-controller="email" type="submit" class="btn btn-primary" value="Send Email"/>
       </form>
</div>